# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.build/
.env
.env.*
.venv/
venv/
dist/
*.egg-info/

# Node/web
node_modules/
.next/
out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Videos (optional; keep mock.mp4 tracked if you want)
*.mp4
!backend/static/mock.mp4
